<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <div class="adminButtonContainer">
          <a href="/ta02/addUser">Add User</a>
          <a href="/ta02/removeUser">Remove User</a>
        </div>
        <% if (users.length > 0) { %>
          <ul class="userList">
            <% for (let user of users) { %>
            <li><%= user %> </li>
            <% } %>
          </ul>
    <% } else { %>
        <p>No Users Found</p>
    <% } %>
      </div>
    </div>


</body>

</html>